


<app-ingredients (newIngred)="onNewIng($event)"></app-ingredients>
<app-ches (newIngred)="onNewIng($event)"></app-ches>
<app-salad (newIngred)="onNewIng($event)"></app-salad>
<app-bacon (newIngred)="onNewIng($event)"></app-bacon>

<div class="Burger">
  <div class="BreadTop">
    <div class="Seeds1"></div>
    <div class="Seeds2"></div>
  </div>
<app-burger-show *ngFor="let i of ingredients" [ingred]="i"></app-burger-show>
  <div class="BreadBottom"></div>
</div>
