

<form (ngSubmit)="createIngredient()">
  <textarea name="ingredient" style="margin-right: 10px" rows="1" cols="20" #linkIngr>
Meat
</textarea>
  <button type = "submit" >Click</button>




</form>


